
.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color: color($colors,bili) ;
}
.tabs-md .tab-button[aria-selected=true] {
    color: color($colors,bili);
}
.tab-button-icon{
    color: pink;
}