page-main {
    // ion-header{
    //     height:10%;
    // }
    ion-avatar{
        border: solid 2px rgb(240, 225, 225);
        border-radius: 100%;
    }
    h2{
        color: gray
    }
    

}
