<ion-header no-border>
  <ion-toolbar color='bili'>
    <ion-title>欢迎！{{username}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list-header>
    我的好友
  </ion-list-header>
  <ion-list no-lines>
    <button ion-item (click)="chat(username,item.username)" *ngFor="let item of items">
      <ion-avatar item-start>
        <img [src]="item.src">
      </ion-avatar>
      <h2>{{item.nickname}}</h2>
      <p>{{item.lastWords}}</p>
    </button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      群聊
    </ion-list-header>
    <button ion-item (click)="chat(username,item.groupname)" *ngFor="let item of items2">
      <ion-avatar item-start>
        <img [src]="item.src">
      </ion-avatar>
      <h2>{{item.nickname}}</h2>
      <p>{{item.lastWords}}</p>
    </button>
  </ion-list>
  <ion-fab bottom left>
    <button ion-fab color="bili" margin-bottom id="menuBtn">
      <ion-icon name="add" color="white" menuToggle></ion-icon>
    </button>
  </ion-fab>
</ion-content>