*{
    font-family: 'Microsoft YaHei';
    //隐藏滚动条
    ::-webkit-scrollbar {
        display: none;
    }
}
.head{
    width: 100px;
    height: auto;
    border-radius: 100%;
    border: 3px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px; 
    margin-left: -50px;
}
#headDiv{
    text-align: center;
    height:30%;
    background:#f97398;
    position: relative;

}
.mm{
    color:gray
}

ion-header {
    padding-top: $cordova-md-statusbar-padding;
    background:color($colors,bili);
}
@import 'dark.theme';


